.rate {
  position: relative;
  display: block;
  white-space: nowrap;
}

.topRate {
  position: absolute;
  display: inline-block;
}

.svgInDiv {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
  display: inline-block;
}

.top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.top:hover {
  height: 24px !important;
  width: 24px !important;
}
